{# SPDX-FileCopyrightText: 2026 Viktor Ostashevskyi <ostash@ostash.kiev.ua> #}
{# SPDX-License-Identifier: CC-BY-SA-4.0 #}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <link rel="canonical" href="{% block canonical_url %}{{ SITEURL }}/{% endblock %}">

        <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">

        <meta name="description" content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}">
        <meta property="og:type" content="{% block og_type %}website{% endblock %}">
        <meta property="og:title" content="{{ self.title() }}">
        <meta property="og:description" content="{{ self.description() }}">
        <meta property="og:url" content="{{ self.canonical_url() }}">

        <link rel="icon" type="image/svg+xml" href="{{ SITEURL }}/favicon.svg">
        <link rel="icon" type="image/x-icon"  href="{{ SITEURL }}/favicon.ico">
        <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png">

        <link rel="alternate" type="application/rss+xml" title="{{ SITENAME }} RSS Feed" href="{{ SITEURL }}/feeds/rss.xml">

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-inner">
                <a href="{{ SITEURL }}/" class="site-title">{{ SITENAME }}</a>
                {% if SITESUBTITLE %}<span class="site-subtitle">{{ SITESUBTITLE }}</span>{% endif %}
                <nav>
                    <a href="{{ SITEURL }}/tags.html">tags</a>
                    <a href="{{ SITEURL }}/archives.html">all posts</a>
                    {% for p in pages %}<a href="{{ SITEURL }}/{{ p.url }}">{{ p.title|lower }}</a>{% endfor %}
                </nav>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="footer-inner">
                {% if SOCIAL %}
                    <div class="social">
                        {% for name, url in SOCIAL %}<a href="{{ url }}">{{ name }}</a>{% endfor %}
                    </div>
                {% endif %}
                <a href="{{ SITEURL }}/feeds/rss.xml" class="feed-link">rss</a>
            </div>
        </footer>
        <div class="site-copyright">
            {% block copyright %}&copy; {{ DEFAULT_COPYRIGHT_YEAR }} {{ AUTHOR }}{% endblock %}
        </div>
        {% if ANALYTICS %}
        {{ ANALYTICS }}
        {% endif %}
    </body>
</html>
