{# SPDX-FileCopyrightText: 2026 Viktor Ostashevskyi <ostash@ostash.kiev.ua> #}
{# SPDX-License-Identifier: CC-BY-SA-4.0 #}
{% extends "base.html" %}
{% block title %}#{{ tag }} &ndash; {{ SITENAME }}{% endblock %}
{% block content %}
    <h1>#{{ tag }}</h1>
    <div class="post-list">
        {% for article in articles %}
            <article class="post-entry">
                <div class="post-meta">
                    <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%Y-%m-%d") }}</time>
                </div>
                <h2>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </h2>
                {% if article.summary %}<div class="post-summary">{{ article.summary }}</div>{% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock %}
